/* ---------------------------------------------
                    Colors
--------------------------------------------- */

/* ---------------------------------------------
                  Main Colors 
--------------------------------------------- */
$gradient-color: linear-gradient(to left, #048CB2, #02C6E1);
$main-color: #00B9D5;
$hover-color: #00B0D2;
$light-color: #fff !default; 
$light-color: #ffff; 
$pulse-color: #048CB2;

$font-color: #000;
$desc-color: #777;
$second-desc-color: #555;
$second-title-color:#333;
$section-color: #1e1e1e;
$title-color: #00B9D5;

/* ---------------------------------------------
                Decoration colors 
--------------------------------------------- */
$hr-color: #eee;
$box-shadow: rgba(0,0,0,0.1);
$second-box-shadow: #3B566E;
$sticky: #1e1e1e; /* Disabled */